@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jersey 25", sans-serif;
}

.slider {
  width: 100%;
  min-height: 80vh;
  aspect-ratio: 16/9;
  background: black;
  position: relative;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 100px;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
  color: black;
}
.slider-content p {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.section {
  padding: 100px 0;
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.dark {
  background: black;
  color: #fff;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.text-center {
  text-align: center;
}

.w25 {
  width: 25%;
}

.w32 {
  width: 32%;
}

.space-between {
  justify-content: space-between;
}

.skill {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3 {
  margin-top: 10px;
  color: black;
}

.gap20 {
  gap: 20px;
}

.wrap {
  flex-wrap: wrap;
}

.realisation {
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.realisation h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: max-content;
  opacity: 0;
  transition: 2s ease;
}

.realisation a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.realisation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  transition: 2s ease;
}

.realisation:hover img {
  filter: brightness(60%);
}

.realisation:hover h3 {
  opacity: 1;
}

.icon {
  display: block;
  font-size: 40px !important;
}

.label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 1.5rem;
}

.value {
  display: block;
  font-size: 1.5rem;
}

.contact {
  border: 2px dashed #fff;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

.aligncenter {
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding-block: 10px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
}

.header-logo {
  display: block;
}

.header-logo > img {
  width: 60px;
  border-radius: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
}

.header-menu li a:hover {
  background: black;
  color: white;
  transition: 1.5s ease;
}

.header-menu li:last-child a {
  background-color: black;
  color: white;
}

.header-menu-mobile {
  display: none;
}

@media (max-width: 810px) {
  header {
    height: 80px;
  }

  .header-menu-mobile {
    display: block;
    border: 0px;
    background-color: #fff;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 991;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 991;
  }
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
  }

  .active {
    display: flex;
  }

  .header-menu li:last-child a {
    margin-top: 10px;
  }

  .slider {
    height: 60vh;
  }
  .slider-content {
    width: 90%;
  }
  .slider-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    text-wrap: balance;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }

  p {
    font-size: 1rem;
    text-wrap: balance;
  }

  .toColumn {
    flex-direction: column;
  }
  .wm100 {
    width: 100% !important;
  }
  .section {
    padding: 50px 0;
  }
  .boxed {
    max-width: 90%;
  }
  .mCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wm47 {
    width: 47%;
  }
  .mgap20 {
    gap: 20px;
  }
}
